.wrap {
    background-color: #FAFAFA;
    height: 100vh;
}

.addWrap {
    width: 3.43rem;
    height: .58rem;
    background-color: #ffffff;
    padding-left: .12rem;
    padding-top: .1rem;
    color: #333333;
    margin: 0 auto;
    margin-top: .14rem;
}

.addDetail {
    width: 3.19rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.transDetail {
    width: 3.43rem;
    background-color: #ffffff;
    margin: 0 auto;
    margin-top: .04rem;
}

.tableWrap {
    width: 3.43rem;
    margin: 0 auto;
    margin-top: .04rem;
    background-color: #ffffff;
    margin-bottom: .08rem;
}

.detail {
    display: flex;
    justify-content: flex-start;
    padding-left: .12rem;
}

.left {
    font-size: .14rem;
    color: #aaaaaa;
    width: .87rem;
}

.right {
    width: 2.13rem;
    font-size: .14rem;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-left: .14rem;
}

.input {
    font-size: .14rem !important;
    width: 3.43rem;
    margin: 0 auto;
    height: .48rem !important;
}

.btn1 {
    background-color: #C7E3F0;
    margin-top: .24rem;
    width: 3.43rem;
}

.btn2 {
    color: #555555;
    background-color: #ffffff;
    margin-top: .16rem;
    width: 3.43rem;
}

