.wrap {
    background-color: #FAFAFA;
    height: 100vh;
}

.addWrap {
    width: 4.94rem;
    height: .58rem;
    background-color: #ffffff;
    padding-left: .12rem;
    padding-top: .1rem;
    color: #333333;
    margin: 0 auto;
    margin-top: .14rem;
}

.addDetail {
    width: 4.94rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.transDetail {
    width: 4.94rem;
    background-color: #ffffff;
    margin: 0 auto;
    margin-top: .04rem;
}

.tableWrap {
    width: 4.94rem;
    margin: 0 auto;
    margin-top: .04rem;
    background-color: #ffffff;
    margin-bottom: .08rem;
}

.detail {
    display: flex;
    justify-content: flex-start;
    padding-left: .12rem;
}

.left {
    font-size: .14rem;
    color: #aaaaaa;
    width: .87rem;
}

.right {
    width: 2.13rem;
    font-size: .14rem;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-left: .14rem;
}

.secWrap {
    width: 4.94rem;
    margin: 0 auto;
}

.input {
    font-size: .14rem !important;
    width: 4.94rem !important;
    height: .48rem !important;
}

.btn1 {
    background-color: #C7E3F0;
    margin-top: .24rem;
    width: 4.94rem;
    cursor: unset;
}

.activeBtn {
    cursor: pointer;
    background-color: #358FB6;
}

.btn2 {
    color: #555555;
    background-color: #ffffff;
    margin-top: .16rem;
    width: 4.94rem;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: .16rem;
    padding-right: .16rem;
    height: .5rem;
    background-color: #ffffff;
}

.forwardArrow {
    background-image: url('../../widgets/headBar/backArrow.png');
    background-size: 100% 100%;
    width: .18rem;
    height: .18rem;
    top: .21rem;
    left: .13rem;
    cursor: pointer;
}

.backWardArrow {
    transform: rotate(180deg);
}

.left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo {
    margin-left: 0;
}

.rank {
    margin-left: .12rem;
    margin-right: .12rem;
}

.rightPart {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

