.wrap {
    background-color: #FAFAFA;
    min-height: 100vh;
}

.wordsWrap {
    padding-left: .16rem;
    padding-right: .16rem;
}

.textArea {
    height: .72rem !important;
    font-size: .14rem !important;
}

.addressError {
    color: #0273A4;
    font-size: .1rem;
    height: .14rem;
    margin-top: .12rem;
    margin-bottom: .12rem;
}

.title {
    color: #555555;
    font-size: .14rem;
    margin-top: .48rem;
    margin-bottom: .12rem;
}

.topTitle {
    margin-top: .24rem;
}