.contentWrap {
    width: 3.43rem;
    margin: 0 auto;
}

.formTitle {
    font-size: .14rem;
    color: #555555;
    margin-bottom: .1rem;
}

.topT {
    margin-top: .25rem;
}

.input {
    height: .48rem;
    width: 3.43rem;
    margin: 0 auto;
    font-size: .14rem !important;
}

.info {
    font-size: .1rem;
    color: #0273a4;
}

.explainInfo {
    height: .52rem;
    margin-top: .1rem;
}

.secretIcon {
    width: 0.18rem;
    height: 0.18rem;
    background-size: 100% 100%;
}

.canSee {
    background-image: url('./img/openEye.png');
}

.canNotSee {
    background-image: url('./img/closeEye.png');
}

.createBtn {
    margin-top: .16rem;
    width: 3.43rem;
    height: .48rem;
    background-color: #358fb6;
    color: #ffffff;
    text-align: center;
    line-height: .48rem;
    border-radius: .02rem;
    font-size: .14rem;
    user-select: none;
    cursor: pointer;
}

.shadowBtn {
    background-color: #C7E3F0;
}

.pad {
    margin-top: 1rem;
}

