.wrap {
    background-color: #FAFAFA;
    height: 100vh;
}

.item {
    height: .48rem;
    background-color: #ffffff;
    padding-left: .16rem;
    padding-right: .13rem;
    font-size: .14rem;
    color: #333333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .01rem;
    cursor: pointer;
}

.right {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.arrow {
    width: .18rem;
    height: .18rem;
    margin-left: .09rem;
    background-image: url("./img/hook.png");
    background-size: 100% 100%;
}

.btn {
    height: .48rem;
    width: 3.33rem;
    color: #ffffff;
    background-color: #C7E3F0;
    text-align: center;
    margin: 0 auto;
    line-height: .48rem;
    margin-top: 3.86rem;
    font-size: .14rem;
}
