.wrap {
    background-color: #FAFAFA;
    min-height: 100vh;
}

.input {
    height: .48rem;
    width: 3.43rem !important;
    margin-left: .16rem !important;
    margin-top: .24rem !important;
    font-size: .14rem !important;
    border: none !important;
}

.confirm {
    height: .48rem;
    width: 3.33rem;
    color: #ffffff;
    background-color: #C7E3F0;
    text-align: center;
    margin: 0 auto;
    line-height: .48rem;
    margin-top: 3rem;
    font-size: .14rem;
}

.heighLight {
    background-color: #358FB6;
    cursor: pointer;
}

.info {
    color: #0273A4;
    font-size: .12rem;
    width: 3.33rem;
    margin: 0 auto;
    height: .2rem;
    margin-top: .12rem;
}