.formTitle {
    font-size: .14rem;
    color: #555555;
    margin-bottom: .12rem;
}

.midT {
    margin-top: .12rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.secWrap {
    height: .16rem;
    background-size: 100% 100%;
}

.input {
    height: .48rem;
    width: 3.43rem;
    margin: 0 auto;
    font-size: .14rem !important;
    border: 1px solid #FFFFFF !important;
}