.wrap {
    height: .48rem;
    margin: 0 auto;
    text-align: center;
    font-size: .14rem;
    line-height: .48rem;
    border-radius: .02rem;
    background-color: #358FB6;
    color: #ffffff;
    cursor: pointer;
}